@tailwind base;
@tailwind components;
@tailwind utilities;

/* default site fonts */
:root {
  --font-sans: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --font-display: "Orelega One", var(--font-sans);
}

html, body, #root {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}
